<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Outfit Generator</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'outfitGenerator/index.css' %}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>Generate an Outfit</h1>
        <form action="{% url 'outfitGenerator:index' %}" method="get">
            <input type="submit" value="Home">
        </form>
        <br>
        {% if error %}
            {{ error }}
        {% endif %}
        {% if topclothing %}
            {% for clothing in topclothing %}

                {% if clothing.type == "T-Shirt" %}
                    {% include "outfitGenerator/svg_templates/top/tshirt.html" %}
                {% elif clothing.type == "Dress Shirt" %}
                    {% include "outfitGenerator/svg_templates/top/dress_shirt.html" %}
                {% elif clothing.type == "Hoodie" %}
                    {% include "outfitGenerator/svg_templates/top/hoodie.html" %}
                {% endif %}

            {% endfor %}
        {% endif %}

        {% if bottomclothing %}
            {% for clothing in bottomclothing %}

                {% if clothing.type == "Jeans" %}
                    {% include "outfitGenerator/svg_templates/bottom/jeans.html" %}
                {% elif clothing.type == "Dress Pants" %}
                    {% include "outfitGenerator/svg_templates/bottom/dress_pants.html" %}
                {% elif clothing.type == "Sweatpants" %}
                    {% include "outfitGenerator/svg_templates/bottom/sweatpants.html" %}
                {% endif %}

            {% endfor %}
        {% endif %}

        {% if shoes %}
            {% for shoe in shoes %}

                {% if shoe.type == "Sport Sneakers" %}
                    {% include "outfitGenerator/svg_templates/shoes/sneakers.html" %}
                {% elif shoe.type == "Dress Shoes" %}
                    {% include "outfitGenerator/svg_templates/shoes/dress_shoes.html" %}
                {% endif %}

            {% endfor %}
        {% endif %}

        <br>
        <form action="{% url 'outfitGenerator:generate_outfit' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Generate">
        </form>
        <script src="{% static 'outfitGenerator/generate_outfit.js' %}" async defer></script>
    </body>
</html>