{% extends "outfitGenerator/layout.html" %}
{% block body %}
    <h1>Wardrobe</h1>

    {% if topclothing %}
        {% for clothing in topclothing %}
            <p>{{ clothing }}</p>
            <form action="{% url 'outfitGenerator:remove_clothing' 'top' clothing.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Remove">
            </form>
        {% endfor %}
    {% else %}
        <p>You have no top clothing in your wardrobe!</p>
    {% endif %}

    {% if bottomclothing %}
        {% for clothing in bottomclothing %}
            <p>{{ clothing }}</p>
            <form action="{% url 'outfitGenerator:remove_clothing' 'bottom' clothing.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Remove">
            </form>
        {% endfor %}
    {% else %}
        <p>You have no bottom clothing in your wardrobe!</p>
    {% endif %}

    {% if shoes %}
        {% for shoe in shoes %}
            <p>{{ shoe }}</p>
            <p>{{ clothing }}</p>
            <form action="{% url 'outfitGenerator:remove_clothing' 'shoes' shoe.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Remove">
            </form>
        {% endfor %}
    {% else %}
        <p>You have no shoes in your wardrobe!</p>
    {% endif %}

    <h3>Add Top Clothing</h3>
    <form action="{% url 'outfitGenerator:add_clothing' 'top' %}" method="post">
        {% csrf_token %}
        {{ topform }}
        <input type="submit" value="Add">
    </form>

    <br>
    <h3>Add Bottom Clothing</h3>
    <form action="{% url 'outfitGenerator:add_clothing' 'bottom' %}" method="post">
        {% csrf_token %}
        {{ bottomform }}
        <input type="submit" value="Add">
    </form>

    <br>
    <h3>Add Shoes</h3>
    <form action="{% url 'outfitGenerator:add_clothing' 'shoes' %}" method="post">
        {% csrf_token %}
        {{ shoeform }}
        <input type="submit" value="Add">
    </form>
{% endblock %}